.App {
  text-align: center;
  font-family: "Courier New", monospace;
  width: 100%;
  color: #F9D522;
}

h1 {
  font-weight: normal;
  font-size: 42px;
}

.books {
  list-style: none;
  padding: 0;
  font-size: 32px;
  margin-bottom: 2em;
}
.itemImage {
  border-radius: 50%;
  padding: 5px;
  width: 150px;
}
.more {
  font-size: 32px;
  font-family: "Courier New", monospace;
  border: 2px solid #000;
  background-color: #0099ff;
  padding: 10px 25px;
}
.more:hover {
  background-color: #FDD836;
}
.more:active {
  background-color: #FFEFA9;
}

/*if you find this say "i'm sneaky" to get an extra point */
